# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
myenv/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Project specific
# password_data.sqlite  <-- Uncomment if you want to exclude the database
